{% extends "nav_bar.html" %}

{% block page_name %}
About This Wiki
{% endblock %}

{% block content %}
<div style="text-align: center;">
    <h3>About this Wiki</h3>

    <p>Welcome to RetroPedia, the ultimate source for information on classic and retro video games! Our mission is to preserve the rich history of video games and make it accessible to everyone.</p>
    <p>Whether you're a seasoned gamer or new to the scene, you'll find something to love on RetroPedia. Our contributors are passionate about gaming and are committed to providing accurate and engaging content on everything from the earliest arcade games to some later bangers.</p>

    <h3>Your Authors</h3>

    <div style="display: flex; justify-content: space-between;">
        <div>
            <p style="text-align: center;">Cambrell</p>
            <img src="https://storage.googleapis.com/web-uploads/IMG_20210621_161958736_2.jpg" alt="Author Image" style="width: 550px; height: 450px;">
        </div>
        <div>
            <p style="text-align: center;">Samuel</p>
            <img src="https://storage.googleapis.com/web-uploads/Author2.jpg" alt="Author Image" style="width: 550px; height: 750px;">
        </div>
        <div>
            <p style="text-align: center;">Angel</p>
            <img src="https://storage.googleapis.com/web-uploads/bol.jpg" alt="Author Image" style="width: 550px; height: 550px;">
        </div>
    </div>
</div>
{% endblock %}






